.navbar {
	margin-bottom: 0;
}

body {
	background: #000000;
	color: #708090;
	font-family: "Open Sans";
}
h1,
h2 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #000000;
}
li {
	color: #000000;
}
a {
	color: #FFFFFF;
}

#summary {
	width: 100%;
	background: url(/static/images/earth.png) no-repeat center;
	background-size: 100% 100%;
	color: #FFFFFF;
	padding-top: 20vh;
	height: 100vh;
	text-align: center;
}
#summary p {
	color: #FFFFFF;
	font-size: 26px;
}

#about {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #808080;
	color: #FFFFFF;
	text-align: center;
}

#about p {
	color: #FFFFFF;
}


#jobs {
	background: #FFFFFF;
	width: 100%;
	padding-top: 50px;
	color: #4169E1;
	text-align: center;
}
#jobs h2 {
	color: #4169E1;
}
#jobs h1 {
	color: #708090;
}
#jobs h4 {
	color: #708090;
	text-align: center;
}

#classes {
	background: #FFFFFF;
	width: 100%;
	padding-top: 50px;
}
#classes h1{
	color: #708090;
	text-align: center;
}

#programming {
	background: #FFFFFF;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
#programming p {
	text-align: center;
}

.top-buffer { margin-top:20px; }

.panel > .panel-heading {
    background: #4169E1;
    color: white;
}

.btn-lg {
	width: 100%;
	background: #4169E1;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-brand {
	color: #FFFFFF;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a {
	color: #FFFFFF;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #4169E1;
}

img {
  	vertical-align: middle;
  	display: block;
   	margin: auto;
   	height: auto;
}
